*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(161, 161, 231);
}

h1{
    position: relative;
    left: 35%;
}
table{
    width: 400px;
    height: auto;
    background-color: azure;
    box-shadow: 1px 1px 3px  black;
    margin: auto;
}

tr{
    padding: 4px;
    
}